# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Benchmark data on all maps and random scenarios from https://movingai.com/benchmarks/mapf/index.html
*.map
*.scen

# Ignore vscode settings
/.vscode/

#Ignore cmake build files
/build/
/test_files/test_data/